{% extends "templates/base_account.html.twig" %}
{% block title %}BlaBlaArticle{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1 class="mt-4">Создание статьи</h1>

    <div class="row">
      
      <div class="col-xl-6">
      
      {% if disabled %}
      <div class="alert alert-danger" role="alert">
        Превышен лимит создания статей, чтобы снять лимит <a href="{{ path('app_subscription') }}">Улучшите подписку</a>
      </div>
      {% endif %}
        <form method="post" enctype="multipart/form-data" action="{{ path('app_article_create_content') }}">
        
          <div class="form-group">
            <label for="fieldTheme">Тематика</label>
            <select name="theme" required class="form-control" id="fieldTheme">
            {% for theme in themes %}
              <option value="{{theme.code()}}">{{theme.description()}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-label-group">
            <input type="text" id="articleTitle" {% if disabled %}disabled{% endif %} name="title" class="form-control" placeholder="Заголовок статьи" autofocus value="Тестовая статья">
            <label for="articleTitle">Заголовок статьи</label>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p class="card-title">Ключевое слово</p>
              <div class="form-label-group">
                <input name="keywords[]" type="text" {% if disabled %}disabled{% endif %} id="article0Word" class="form-control" placeholder="Ключевое слово" value="">
                <label for="article0Word">Ключевое слово</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article1Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Родительный падеж" required value="">
                <label for="article1Word">Родительный падеж</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article2Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Дательный падеж" required value="">
                <label for="article1Word">Дательный падеж</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article3Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Винительный падеж" required value="">
                <label for="article1Word">Винительный падеж</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article4Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Творительный падеж" required value="">
                <label for="article1Word">Творительный падеж</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article5Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Предложный падеж" required value="">
                <label for="article1Word">Предложный падеж</label>
              </div>
              <div class="form-label-group">
                <input name="keywords[]" type="text" id="article6Word" class="form-control" {% if app.user.subscription == 'free' %}disabled{% endif %}
                 placeholder="Множественное число" required value="">
                <label for="article2Word">Множественное число</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-label-group">
                <input name="size[]" type="text" {% if disabled %}disabled{% endif %} id="sizeFromField" required class="form-control" placeholder="Размер статьи">
                <label for="sizeFromField">Размер статьи от</label>
              </div>
            </div>
            <div class="col">
              <div class="form-label-group">
                <input name="size[]" type="text" {% if disabled %}disabled{% endif %} id="sizeToField" class="form-control" placeholder="До">
                <label for="sizeToField">До</label>
              </div>
            </div>
          </div>


          <div class="card mb-4">
            <div class="card-body">
              <p class="card-title">Продвигаемые слова</p>
              <div class="row">
                <div class="col">
                  <div class="form-label-group">
                    <input name="word[]" type="text" {% if disabled %}disabled{% endif %} id="word1Field" class="form-control" placeholder="Продвигаемое слово">
                    <label for="word1Field">Продвигаемое слово</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-label-group">
                    <input name="wordCount[]" type="text" {% if disabled %}disabled{% endif %} id="word1CountField" class="form-control" placeholder="Количество">
                    <label for="word1CountField">Количество</label>
                  </div>
                </div>
              </div>
              {% if app.user.subscription != 'free' %}
              <div class="row">
                <div class="col">
                  <div class="form-label-group">
                    <input name="word[]" type="text" {% if disabled %}disabled{% endif %} id="word2Field" class="form-control" placeholder="Продвигаемое слово">
                    <label for="word2Field">Продвигаемое слово</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-label-group">
                    <input name="wordCount[]" type="text" {% if disabled %}disabled{% endif %} id="word2CountField" class="form-control" placeholder="Количество">
                    <label for="word2CountField">Количество</label>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <div class="form-label-group">
                    <input name="word[]" type="text" {% if disabled %}disabled{% endif %} id="word3Field" class="form-control" placeholder="Продвигаемое слово">
                    <label for="word2Field">Продвигаемое слово</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-label-group">
                    <input name="wordCount[]" type="text" {% if disabled %}disabled{% endif %} id="word3CountField" class="form-control" placeholder="Количество">
                    <label for="word2CountField">Количество</label>
                  </div>
                </div>
            </div>
              {% endif %}
            </div>
          </div>

          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {% endif %}
          <div class="form-group">
            <label for="exampleFormControlFile1">Изображения</label>
            <input type="file" name="images[]" {% if disabled %}disabled{% endif %} multiple class="form-control-file" id="exampleFormControlFile1">
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" {% if disabled %}disabled{% endif %}
           type="submit">Создать</button>
        </form>
      </div>
    </div>
    
    <hr>

    <h2 class="mt-4">Ваша статья</h2>
    
    <hr>
    
    
    <div class="row">

      <div class="col-xl-6">
      
      {% apply markdown_to_html %}
        {{content | raw}}
      {% endapply %}
        
      
    </div>
    
  </div>
</div>

</div>

{% endblock %}

  